.icons{
  color: grey;
}

.icons a{
  color: grey;
  text-decoration: none;
}

.image-cropper{
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

.profile-pic{
  display: inline;
  margin-right: 50%;
  height: 100%;
  width: auto;
}

/* .name {
  color: #000000;
  font-size: 1.92rem;
  position: obsolute;
  bottom: 10px;
  left: 25px;
} */

/* .about_me_header {
  height: 148px;
  width: 400px;
  background-image: url(../img/header.jpg);

  background-position: bottom center;
  background-size: cover;

  margin-bottom: 10px;

  position: relative;
} */
